@font-face{
	font-family: arcadeClassic;
	src: url('font.ttf');
}
*{
	margin: 0;
	padding: 0;
	text-align: center;
	box-sizing: border-box;
	font-family: serif;
}
body{
	display:grid;
	grid-template-columns: 1fr 7fr 1fr;
	grid-template-rows: 1fr 8fr;
	height: 100vh;
	overflow: hidden;
	margin: 0 auto;
	grid-template-areas: 'a a a'
						'b c d';
	cursor: default;
}
h1{
	font-family: arcadeClassic;
	font-size: 3em;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-30%);
    cursor:url(pencil.png),pointer;
    box-shadow: 6px 6px 0 #00000055;
}
tr {
    height: 7.5px;
}
td {
    width: 7.5px;
}
input[type=number] {
    width: 6em;
}
input[type=submit]{
	background-color: #DBDBDBFF;
	display: block;
	padding: 1px 5px;
	margin: 10px auto;
}
input[type=submit]:focus{
	outline: none;
}
.colorPicker{
	width: 50px;
	height: 50px;
	border: 3px solid;
	border-color: #D1D1D1 #EAEAEA #212121 #212121;
	background: url(cross.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.colorPicker:hover, #pencil:hover, #eraser:hover{
	border: 1.5px solid;
	border-color:#3838389A #3838389A #aaa #aaa;
	box-shadow: 1px -1px 0px white;
	background-color: #DDD;
}

.recents{
	margin: 0 auto;
}

.rightSide, input[type=color]{
	width: 50px;
	height: 50px;
	border: 2px solid;
	background: #BBB;
	border-color: #D1D1D1 #EAEAEA #212121 #424242;  /*REFER TO THIS COLOR*/
}

#pencil{
	background: url(pencil.png);
	background-repeat: no-repeat;
	background-position: center;
}
#eraser{
	background: url(eraser.png);
	background-repeat: no-repeat;
	background-position: center;
}

#hueChange,#grayScale, #inverting{
	width: 80px;
	height: 1px;
	margin:10px auto;
	display: block;
	-webkit-appearance: none; 
    appearance: none;
    background: #7A7A7A;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-bottom: 2px solid #FFFFFFCB;
    border-top: 1px solid black;
}

#hueChange::-webkit-slider-thumb ,
 #grayScale::-webkit-slider-thumb ,
  #inverting::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #BBB;
    cursor: pointer;
	border: 2px solid;
	border-color: white #D8D8D8FF #2D2D2D #2D2D2D;
}

#inverting{
	margin-bottom: 30px;
}

.colorPicker,#eraser,#pencil{
	background-color: #BBB;
}
aside:nth-of-type(1){
	grid-area: b;
	border:1px solid black;
	background: #BBB;
	padding-top: 10px;
}
aside:nth-of-type(2){
	grid-area: d;
	border:1px solid black;
	background: #BBB;
	padding-top: 10px;
}
aside:nth-of-type(2)>*{
	margin:10px auto;
}
header{
	grid-area: a;
	border:5px solid black;
	background: #EEE;
	border-color: white #C4C4C4FF #2D2D2D #2D2D2D;
}
header>h4{
	margin:4px auto;
}
main{
	grid-area: c;
	border:2px solid white;
	background-color: #999;
}
aside>*{
	display: block;
	margin:10px auto;
}

.titleBar{
	background:linear-gradient(to right, #00007b, #53AEE3);
	height: 20px;
}
.titleBar>*{
	margin-top: 2px;
}
#mini:active,#maxi:active,#exit:active{
	border: 2px solid;
	background-color: #AAA;
	border-color: #212121 #424242 #D1D1D1 #EAEAEA;
}
#mini,#maxi,#exit{
	width: 16px;
    height: 16px;
    background-color: #BBB;
    cursor: pointer;
	border: 2px solid;
	border-color: white #D8D8D8FF #2D2D2D #2D2D2D;
	float: right;
	margin: 0 1px;
	position: relative;
	top: -16px;
	left: -3px;
}
#mini{
	background-image: url('minimize.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#maxi{
	background-image: url('maximize.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#exit{
	background-image: url('exit.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#titleHead{
	color: white;
	text-align: left;
	font-weight: bold;
}
.container{
	border: 4px solid #D3D3D3;
	border-top: 1px;
	height:100%;
}
#icon{
	width: 20px;
	float: left;
	margin:0 3px;
}
.menubar{
	background-color: #BBB;
	height: 30px;
	box-shadow: 0 1px 0 white,
				0 3px 0 #D6D6D6FF,
				0 5px 0 #777777FF;
}
.menubar div{
	float: left;
	font-size: 0.8rem;
	margin:5px 5px;
}
.menubar div:hover{
	border: 1px solid;
	transform-origin: center;
	/*box-sizing: content-box;*/
	border-color: white white #212121 #424242;
}
.footer{
	width:100%;
	height: 30px;
	background-color: #D6D6D6FF;
	border-top: 2px solid #777777FF;
	border-bottom: 3px solid #4242429A;
	box-shadow: 0 -4px 0px #D6D6D6FF,
				0 -6px 0px white;
	font-size: 0.9rem;
	padding: 0 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#pointerPos{
	text-align: center;
	margin: 3px 10px 0 0;
	/*border: 1px solid #000;*/
	/*height: 40px;*/
}
#rowColumns{
	/*float: left;*/
	/*width: 80px;*/
	text-align: left;
}
#HW{
	/*float: right;*/
	/*width: 180px;*/
	/*padding-right: 5px;*/
	/*border:1px solid black;*/
	text-align: right;
}

#horizontal{
	margin-right: 15px;
}


hr{
	border-bottom: 3px solid white;
}
aside hr{
	border-bottom: 2px solid #E8E8E8FF;
	border-top: 1px solid #303030C2;
}
aside label{
	font-size: 0.9rem;
}

.selected{
	border: 2px solid;
	border-color:white white black black;
	/*box-shadow: -1.5px 1.5px 0px #bbb,*/
				 -2px 2px 0px white;
	background-color: #D6D6D6 !important;
	width:60px;
	height:60px;
}

.wrapper{
	position: absolute;
	display:grid;
	grid-auto-rows: 20px 1fr;
	height: 200px;
	width:450px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 100;
	border:3px solid white;
	border-color: #EAEAEA #212121 #424242 #D1D1D1;
}

#titleHeading{
	width: 100%;
	margin-left: 5px;
	color: white;
	text-align: left;
	font-weight: bold;
}

#dialogBox{
	width:100%;
	background: #BBB;
}

#dialogue>p{
	text-align: left;
}
#dialogue{
	font-size: 0.82rem;
	margin: 15px 18px 0 18px;
}
.exitOpenMain{
	margin-top: -2px !important;
}

#okay{
	margin-top: 20px;
	width:80px;
	height: 25px;
	background-color: #bbb;
	box-shadow: 1px 1px 0 black;
}

object{
	width:160px;
	position: absolute;
	top: 55px;
	left: 250px;
}

section{
	display: none;
}
#mostUsed{
	margin-bottom: 30px;
}


@media screen and (max-width: 1440px) {
	table{
    transform:translate(-50%,-25%);
}
	tr {
	    height: 7px;
	}
	td {
	    width: 7px;
	}
	.colorPicker,#eraser,#pencil{
		width:40px;
		height:40px;
	}
	aside>*{
		margin:3px auto;
	}
}