*{
	margin: 0;
	padding: 0;
	text-align: center;
}
body{
	display:grid;
	grid-template-columns: 100px 1fr 100px;
	background-color: #EEE;
	max-width:1500px;
	margin: 0 auto;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-35%);
    cursor:url(pencil.png),pointer;
}
tr {
    height: 7px;
}

td {
    width: 7px;
}

input[type=number] {
    width: 6em;
}
.colorPicker{
	width: 50px;
	height: 50px;
	margin:10px auto;
	border: 8px solid;
	border-color: #707070 #707070 #424242 #424242;
	box-sizing: border-box;
	background: url(cross.png); background-repeat: no-repeat; background-size: cover;
}

.colorPicker:hover{
	box-sizing: border-box;
	border: 8px solid;
	border-color: white #D8D8D8FF #383838FF #383838FF;
}


.rightSide, #base{
	width: 50px;
	height: 50px;
	margin:0 auto;
	border: 8px solid;
	background: #000;
	border-color: #606060 gray #424242 #424242;
}

.rightSide:hover{
	box-sizing: content-box;
	border: 8px solid;
	border-color: white #D8D8D8FF #2D2D2D #2D2D2D;
}

#pencil{
	background: url(pencil.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #BBB;
	border-color: black;
}
#eraser{
	background: url(eraser.png);
	background-repeat: no-repeat;
	background-position: center;
}

#hueChange,#grayScale, #inverting{
	width: 80px;
	height: 4px;
	margin:10px auto;
	display: block;
	-webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

#hueChange::-webkit-slider-thumb ,
 #grayScale::-webkit-slider-thumb ,
  #inverting::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #BBB;
    cursor: pointer;
    box-sizing: content-box;
	border: 2px solid;
	border-color: white #D8D8D8FF #2D2D2D #2D2D2D;
}

.colorPicker,#eraser{
	background-color: #BBB;
}
aside{
	margin-top: 200px;
}